body{
    background-color: rgb(233, 115, 25);
}

@media (max-width: 991px){
    .sidebar{
        background-color: rgba(225, 225, 225, 0.15);
        backdrop-filter: blur(10px)
    }
}

.nav-link,.text > color {
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}
